<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Уинстон Черчилль</title>
</head>
<body>
<h1><a href="https://ru.wikipedia.org/wiki/%D0%A7%D0%B5%D1%80%D1%87%D0%B8%D0%BB%D0%BB%D1%8C,_%D0%A3%D0%B8%D0%BD%D1%81%D1%82%D0%BE%D0%BD">Уинстон Черчилль</a></h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Sir_Winston_Churchill_-_19086236948.jpg" width=200/>
<p><strong>Сэр Уи́нстон Леона́рд Спе́нсер Че́рчилль</strong>  — <ins>британский государственный и политический деятель</ins>, премьер-министр Великобритании в 1940—1945 и 1951—1955 годах</p>
<em>Военнослужащий запаса, журналист, писатель, художник, почётный член Британской академии</em> <br>
Лауреат Нобелевской премии по литературе (1953).<br>

<mark>По данным опроса, проведённого в 2002 году вещательной компанией Би-би-си, назван величайшим британцем в истории.</mark>
</body>
</html>